.property_hero_div{
  /* background-color: rgb(246, 247, 248); */
}
.property_div{
margin-top: 5rem;
}

.property_adress{
    font-family: 'Helvetica', sans-serif;
    font-family: 'MuseoSens', sans-serif;
    font-size: 32px;
    line-height: 46px;
    font-weight: 300;
    text-transform: uppercase;
}

.property_icons{
  margin-bottom: 3rem;
}

.property_price{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.publish_date{
  font-size: 16px;
  color: #333F48;
  line-height: 46px;
  font-weight: 600;
  font-family: 'MuseoSens', sans-serif;
}

.property_title{
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Helvetica', sans-serif;
  font-family: 'MuseoSens', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(51, 63, 72);
}

.property_adress_description{
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: MuseoSans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(51, 63, 72);
}

.property_adress_description{
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: MuseoSans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(51, 63, 72);
}

.property_adress_description_divider{
  border-bottom: 1px solid rgb(210, 213, 218);
  width: 20vw;
  margin-top: 1rem;
}

.property_description_paragraph{
  margin-top: 1rem;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  color: rgb(105, 118, 132);
  text-align: justify;
}


.realtor_card {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.realtor_card h4 {
  margin-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 600;
}

.realtor_card p {
  margin-bottom: 4px;
  color: #4a4a4a;
}

.contact_agent_header{
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.contact_agent_text{
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Helvetica', sans-serif;
  font-family: 'MuseoSens', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(51, 63, 72);
  margin: 1vw;
}
